body {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.pulsante {
    background: rgb(202, 60, 138);
    position: relative;
    height: 100px;
    width: 100px;
    transform: rotate(-45deg) scale(1);
}
.pulsante:after{
    background: rgb(202, 60, 138);
    content: '';
    position: absolute;
    top: -50%;
    left: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.pulsante:before{
    background: rgb(202, 60, 138);
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}